:root{
--primary-bg:#A77F33;
--header-bg:#805E1F;
--primary-section-bg:#F7F8FC;
--secondary-section-bg:#ffffff;
--active-color:#FFE600;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


